/* home overall */

body::before {
    content:none;
}

@media (min-width:992px) {
    .wp-block-columns > .wp-block-column:not(:last-child) {
        padding-right:50px;
        box-sizing:border-box;
    }
}

h2 {
    font-size:30px;
}

/* clinic hero */

.fct1-entity-hero {
    --entity-bg:var(--top-gap-bg);
    min-height:75vh;
    background-image:var(--top-gap-bg), linear-gradient(60deg, #277888ee 12%, #58acbc00 90%), var(--entity-bg), var(--top-gap-bg);
    background-repeat:no-repeat;
    /*background-position:0 0, 0 0, 50% calc( 50% + var(--menu-height) ), 0 0;*/
    background-position:0 0, 0 0, 50% var(--menu-height), 0 0;
    background-size:100% var(--menu-height), cover, cover, cover;
}
.fct1-entity-hero > * {
    padding-top:calc( var(--menu-height) + 30px );
    padding-bottom:30px;
}

@media (max-width:949px) {
    .fct1-entity-hero {
        background-image:var(--top-gap-bg), linear-gradient(150deg, #277888ee 12%, #58acbc00 100%), var(--entity-bg);
        background-repeat:no-repeat;
        background-position:0 0, 0 0, 50% calc( 50% + ( var(--menu-height) * 0.6 ) );
        background-size:100% calc( var(--menu-height) * 0.6 ), cover, cover;
    }
    .fct1-entity-hero > * {
        padding-top:calc( ( var(--menu-height) * 0.6 ) + 20px );
        padding-bottom:20px;
    }
    .fct1-entity-hero > *:not(:first-child) {
        padding-top:20px;
    }
}

.fct1-entity-hero * {
    color:#fff;
}

.fct1-entity-hero .fct1-entity-badges {
    margin-bottom:10px;
}

.fct1-entity-hero h1 {
    margin-top:0;
    margin-bottom:10px;
    font-size:30px;
}

.fct1-entity-hero h1 + p {
    margin-top:0;
    margin-bottom:8px;
    text-transform:uppercase;
    font-weight:300;
    font-size:20px;
}
.fct1-entity-hero h1 + p > a {
    text-decoration:none;
}
.fct1-entity-hero h1 + p > a:hover {
    border-bottom:1px solid #fff;
}
.fct1-entity-hero h1 + p span {
    white-space:nowrap;
}

.fct1-entity-hero .cr_rating_bar {
    margin-top:3px;
}

.fct1-entity-hero .cr_rating_bar + span {
    display:inline-block;
    margin-left:12px;
    font-size:26px;
    color:#f5b309;
}

.fct1-entity-hero .cr_rating_bar > div {
    background-color:#fff;
}

.fct1-entity-hero .wp-block-button__link {
    padding-top:0.3em;
    padding-bottom:0.3em;
    text-transform:uppercase;
    font-size:16px;
    font-weight:600;
}

.fct1-entity-hero .wp-block-button__link::after {
    content:'\000BB';
    display:inline-block;
    margin-left:10px;
    font-weight:300;
    transform:rotate( 90deg ) scale( 1.2 );
}
.fct1-entity-hero .fct1-entity-photo {
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:100%;
    height:auto;
    position:relative;
}

.fct1-entity-hero .fct1-entity-photo img {
    height:30%;
    width:auto;
    max-width:100%;
    max-height:300px;
    border-radius:8px;
}

/* buttons override */
.fct1-button-select {
    width:100%;
}
.wp-block-buttons.is-content-justification-full {
    display:flex;
    flex-wrap:wrap;
    margin-right:-20px;
}