/* home overall */

/* hero ++gotta be attached to the columns Gutenberg block with fct1-hero checked */
.fct1-hero {
    min-height:100vh;
    padding:0!important;
}

.fct1-hero > * {
    padding-top:var(--menu-height);
    padding-bottom:var(--menu-height);
    position:relative;
    overflow:hidden;
    min-height:50vh;
}
.fct1-hero > * img {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    object-fit:cover;
    object-position:center center;
}

.fct1-hero .wp-block-column > * {
    max-width:540px;
    margin:var(--menu-height) auto 0;
}