/* home overall */

body {
    background:var(--top-gap-bg);
    background-attachment: fixed;
}

body::before {
    content:none;
}

#main-content *:-webkit-any( h1, h2, h3, h4, h5, h6, p, li, a ),
#main-content *:is( h1, h2, h3, h4, h5, h6, p, li, a ) {
    color:#fff;
}

/* hero */
.fct-hero {
    min-height:100vh;
    padding:0!important;
}

.fct-hero > * {
    padding-top:var(--menu-height);
    padding-bottom:var(--menu-height);
    
}

.fct-hero > *:nth-child(2) {
    align-self:stretch!important;
    background:var(--featured-image) no-repeat 50% 50%;
    background-size:cover;
    min-height:50vh;
}

.fct-hero .wp-block-group {
    max-width:520px;
    margin:var(--menu-height) auto 0;
}

.fct-hero h1 {
    margin-bottom:0;
    text-transform:uppercase;
    font-size:34px;
    font-weight:600;
    letter-spacing:2px;
}
.fct-hero h1 > strong {
    font-size:48px;
    letter-spacing:5px;
    font-weight:600;
}
.fct-hero p {
    margin-top:10px;
    font-weight:400;
    letter-spacing:0.2px;
}
